.App {
  text-align: center;
}

.weather-search {
  height: 10vh;
  margin: 10px 5px 0px 5px;
}

.weather-search > .input-group {
  width: 50vw;
  left: 30vw;
}

@media(max-width: 550px) {
  .weather-search > .input-group {
    width: 96vw;
    left: 0vw;
  }
}

.weather-status {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.weather-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  display: flex;
}

.weather-icon > h2 {
  align-self: center;
}

.weather-minmax {
  display: flex;
}

.weather-minmax > p {
  margin-right: 10px;
}

.btn-outline-secondary {
  color: #393e46;
  border-color: #355c7d;
}

.btn-outline-secondary:hover {
  background-color: #1e979e;
}

input.form-control {
  border-color: #355c7d;
}