.App {
  text-align: center;
}

.weather-search {
  height: 10vh;
}

.weather-search > .input-group {
  width: 50vw;
  left: 30vw;
}

@media(max-width: 550px) {
  .weather-search > .input-group {
    width: 100vw;
    left: 0vw;
  }
}

.weather-status {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.weather-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  display: flex;
}

.weather-icon > h2 {
  align-self: center;
}

.weather-minmax {
  display: flex;
}

.weather-minmax > p {
  margin-right: 10px;
}